<div class="cointainer position">
  <div class="content">
    <div class="title">
      <h2>CADASTRE-SE</h2>
      Preencha os campos abaixo para validar sua participação na campanha e concorrer aos prêmios.
    </div>
    <div class="form">
      <form [formGroup]="form">
        <mat-form-field class="name" appearance="legacy">
          <mat-label>Nome</mat-label>
          <input formControlName="name" #nome matInput>
        </mat-form-field>

        <div class="line">
          <mat-form-field class="half" appearance="standard">
            <mat-label>CPF</mat-label>
            <input formControlName="cpf" mask="CPF_CNPJ" matInput>
          </mat-form-field>

          <mat-form-field class="half" appearance="standard">
            <mat-label>E-mail</mat-label>
            <input formControlName="email" matInput>
          </mat-form-field>
        </div>

        <div class="line">
          <mat-form-field class="half" appearance="standard">
            <mat-label>Senha</mat-label>
            <input formControlName="senha" matInput>
          </mat-form-field>

          <mat-form-field class="half" appearance="standard">
            <mat-label>Confirme sua senha</mat-label>
            <input formControlName="confirmSenha" matInput>
          </mat-form-field>
        </div>

        <div class="line">
          <mat-form-field class="half" appearance="standard">
            <mat-label>Empresa</mat-label>
            <input classificacao="empresa" matInput>
          </mat-form-field>

          <mat-form-field class="half" appearance="standard">
            <mat-label>Classificação</mat-label>
            <mat-select formControlName="classificacao">
              <mat-option value="Gerente">Gerente</mat-option>
              <mat-option value="Revendedor">Revendedor</mat-option>
              <mat-option value="Distribuidor">Distribuidor</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

      </form>
    </div>
    <div class="action">
      <button mat-flat-button>
        ENVIAR
      </button>
    </div>
  </div>
</div>