@font-face {
  font-family: lato-black;
  src: url(../../assets/fonts/Lato-Black.ttf);
}
@font-face {
  font-family: lato-semi-b;
  src: url(../../assets/fonts/Lato-Semibold.ttf);
}
@font-face {
  font-family: lato-reg;
  src: url(../../assets/fonts/Lato-Regular.ttf);
}
.cointainer {
  background-image: url("../../assets/background-marrom.png");
  min-height: 300px;
}
.content {
  width: 90%;
  max-width: 1000px;
  text-align: center;
  padding: 40px 0;
}
.position {
  display: flex;
  justify-content: center;
  align-items: center;
}
h2{
  font-family: lato-black;
}
h2 ~ p{
  font-family: lato-semi-b;
}
.title,
.form {
  color: white;
}
.action button {
  padding: 0 30px;
  background: #e8a612;
  font-size: 1.2rem;
  color: white;
  height: 40px;
  font-family: lato-black;
}
.name {
  width: 90%;
}
.line {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.half {
  flex: 1 1 305px;
}
::ng-deep .mat-focused .mat-form-field-label {
  color: white !important;
}
::ng-deep.mat-form-field-underline,
::ng-deep.mat-form-field-ripple {
  background-color: white !important;
}
mat-label {
  color: white !important;
  font-family: lato-reg;
}
input{
  font-family: lato-reg;
}
:host /deep/ .mat-select-value-text {
  color: white !important;
}
::ng-deep .mat-select-arrow {
  border-top: 5px solid white !important;
}
.senha-eye {
  display: flex;
}
.senha-eye .material-icons {
  cursor: pointer;
}
.left {
  padding-right: 5px;
}
.right {
  padding-left: 5px;
}
@media (max-width: 767px) {
  .left {
    padding-right: 0px;
  }
  .right {
    padding-left: 0px;
  }
}
