<div class="container position">
  <div class="content position">
    <h2>
      LOGIN
    </h2>
    <div class="form">
      <mat-form-field appearance="legacy">
        <mat-label>Digite seu cpf</mat-label>
        <input [(ngModel)]="usuario" #cpf mask="CPF_CNPJ" matInput>
      </mat-form-field>
      <mat-form-field class="pass" appearance="standard">
        <mat-label>Digite sua senha</mat-label>
        <div class="senha-eye">
          <input [(ngModel)]="senha" matInput [type]="hidePassword? 'password' : 'text'">
          <span class="material-icons" (click)="togglePass()">
            {{eyeIcon}}
          </span>
        </div>
        <mat-error></mat-error>
      </mat-form-field>
    </div>
    <div class="options">
      <a routerLink="/create-account">
        Ainda não é cadastrado?
      </a>
      <a routerLink="/create-account">
        Esqueceu sua senha?
      </a>
    </div>
    <button (click)="login()" mat-flat-button>
      Login
    </button>
  </div>
</div>