.container {
  width: 100%;
  background: url("../../assets/background-marrom.png");
  padding: 40px 0;
  height: 300px;
  color: white;
}
.content {
  flex-direction: column;
  width: 90%;
  max-width: 1000px;
}
.container h2 {
  width: fit-content;
  margin-top: 0;
}
.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.options a {
  color: #e8a612;
  text-decoration: none;
}
.options {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
button {
  padding: 0 30px;
  background: #e8a612;
  color: white;
  font-size: 1.6rem;
  height: 40px;
}
.position {
  display: flex;
  align-items: center;
  justify-content: center;
}

::ng-deep .mat-focused .mat-form-field-label {
  color: white !important;
}
::ng-deep.mat-form-field-underline, ::ng-deep.mat-form-field-ripple {
  background-color: white !important;
}
mat-label{
  color: white!important;
}
.senha-eye{
  display: flex;
}
.senha-eye .material-icons{
  cursor: pointer;
}