@font-face {
  font-family: lato-black;
  src: url(../assets/fonts/Lato-Black.ttf);
}
@font-face {
  font-family: gotham-medium;
  src: url(../assets/fonts/GothamPro-Medium.ttf);
}
@font-face {
  font-family: gotham;
  src: url(../assets/fonts/GothamPro.ttf);
}
.content {
  width: 90%;
  max-width: 1360px;
}
.header {
  background: url("../assets/background.png");
  justify-content: center;
  display: flex;
  align-items: flex-end;
  background-repeat: no-repeat;
  background-position: top;
  background-size: auto;
  height: 100vh;
}
.land-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.actions {
  width: 30%;
  flex: 0 1 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.actions svg {
  margin-bottom: 50px;
}
.btns {
  display: flex;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
}
.btns button {
  background: #e8a612;
  color: white;
  font-size: 1.1rem;
  height: 40px;
  max-width: 170px;
  margin: 5px 0;
  font-family: lato-black;
  flex: 0 1 160px;
  text-transform: uppercase;
}
.image {
  display: flex;
  justify-content: center;
  width: 70%;
}
.image img {
  width: 100%;
}
.desc-paragraph {
  font-family: gotham;
}
.footer {
  background-image: url("../assets/background-cinza.png");
  height: 300px;
  padding: 20px 0;
  display: flex;
}
.footer .desc {
  width: 60%;
  color: #444444;
}
.footer-main {
  display: flex;
  margin: auto;
  justify-content: space-around;
}
.desc p {
  text-align: justify;
  font-size: 0.8rem;
}
.desc h3 {
  font-size: 1.8rem;
  font-weight: 400;
  font-family: gotham-medium;
}
.base-line {
  background: #e8a612;
  font-size: 0.9rem;
  color: white;
  display: flex;
  justify-content: space-between;
}
.base-main {
  display: flex;
  justify-content: space-between;
  margin: auto;
  flex-wrap: wrap;
}
.base-main a {
  text-decoration: none;
  color: darkslategray;
}
.base-main p {
  font-family: gotham;
}
@media (max-width: 1023px) {
  .footer-main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    flex-flow: column-reverse;
  }
  .footer {
    height: auto;
    text-align: center;
  }
  .footer .desc {
    width: 90%;
  }
  .btns button {
    flex: 1 1 160px;
    max-width: initial;
  }
}
@media (max-width: 767px) {
  .image {
    margin: auto;
  }
}
@media (max-width: 925px) {
  .land-content {
    justify-content: center;
  }
  .header {
    align-items: center;
  }
  .image {
    display: none;
  }
}
.base-main.content div {
  flex: 1 1 300px;
}
